header {
    background-image: url("../images/concept_back.png");
    background-position: top;
}

main {
    position: absolute;
    top: 150px;
    width: 100vw;
    background-color: white;
}

a {
    color: black;
}

h1 {
    text-align: center;
    margin: 3rem 0;
}

h2 {
    margin: 1rem 0;
}

.concept_item {
    width: 55rem;
    letter-spacing: 0.2em;
    margin: 3rem auto;
}

.concept_item img {
    width: 55rem;
    margin: 2rem auto;
}

.back_button {
    text-align: center;
}

footer {
    top: 1100px;
}
